<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>Apartment Price Predictor</title>
<style>
footer {
  text-align: center;
  padding: 3px;
  color: black;
}
</style>
</head>

<body ng-app="demo">
	<hr />
	<div class="container" ng-controller="PredictController">

		<div class="row">
			<h4>Apartment price predictor is an application which predict
				the prices of apartments in Tirana based on Machine Learning
				Algorithms like RepTree and RandomTree.</h4>
			<hr />
		</div>

		<div class="row">
			<div class="col">
				<label>Metra </label>
			</div>

			<div class="col">
				<input type="number" ng-model="houseDto.sizeMeters" max="250" min="30"
					class="input-sm spacing" /><span>&#13217;</span> Range [30-250]
			</div>

		</div>
		<div class="row">
			<div class="col">
				<label>Mobiluar</label>
			</div>
			<div class="col">
				<select ng-model="houseDto.furnished" class="input-sm spacing">
					<option value="YES">YES</option>
					<option value="NO">NO</option>
				</select>
			</div>




		</div>
		<div class="row">
			<div class="col">
				<label>Nr. Dhomave</label>
			</div>
			<div class="col">
				<select ng-model="houseDto.modelType" class="input-sm spacing">
					<option value="TWO_PLUS_ONE">2+1</option>
					<option value="ONE_PLUS_ONE">1+1</option>
				</select>
			</div>




		</div>
		<div class="row">
			<div class="col">
				<label>Tipi i Shitesit</label>
			</div>
			<div class="col">
				<select ng-model="houseDto.ownerType" class="input-sm spacing">
					<option value="INDIVIDUAL">INDIVIDUAL</option>
					<option value="ESTATE">ESTATE</option>
				</select>
			</div>


		</div>
		<div class="row">
			<div class="col">
				<label>Me Ashensor</label>
			</div>

			<div class="col">
				<select ng-model="houseDto.hasLift" class="input-sm spacing">
					<option value="YES">YES</option>
					<option value="NO">NO</option>
				</select>
			</div>

		</div>

		<div class="row">
			<div class="col">
				<label>Legalizuar</label>
			</div>

			<div class="col">
				<select ng-model="houseDto.legalized" class="input-sm spacing">
					<option value="ME_HIPOTEKE">ME_HIPOTEKE</option>
					<option value="PA_HIPOTEKE">PA_HIPOTEKE</option>
				</select>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<label>Tirana Zona</label>
			</div>

			<div class="col">
				<select ng-model="houseDto.city" class="input-sm spacing">
					<option value="1AliDemi_TreguElektrik">ALi Demi Tregu Elektrik</option>
					<option value="1Poligrafiku_Autotraktoret_Shkoze">Poligrafiku_Autotraktoret_Shkoze</option>
					<option value="10Qender-Posta_LidhjaShkrimtareve">QenderPosta_LidhjaShkrimtareve</option>
					<option value="10Rr.Durresit_Prokuroria">Rr.Durresit_Prokuroria</option>
					<option value="11Instituti_Kamez_Paskuqan">Instituti_Kamez_Paskuqan</option>
					<option value="11Laprake_Spitaliushtarak_Dogana">Laprake_Spitaliushtarak_Dogana</option>
					<option value="2Pazariiri_9katshet_Barrikada">Pazariiri_9katshet_Barrikada</option>
					<option value="2Piramida_ETC_TVSH_Stadiumi">Piramida_ETC_TVSH_Stadiumi</option>
					<option value="2QytetiStudenti_Sauk">QytetiStudenti_Sauk</option>
					<option value="2Rr.eElbasanit_ShkollaBaletit">Rr.eElbasanit_ShkollaBaletit</option>
					<option value="2TEG_Lunder_Farke_MjullBathore">TEG_Lunder_Farke_MjullBathore</option>
					<option value="3Fresku_Linze_Dajt">Fresku_Linze_Dajt</option>
					<option value="3Ministriaejashtme_Brryli">Ministriaejashtme_Brryli</option>
					<option value="3Xhamlliku_Oxhaku_Profarma">Xhamlliku_Oxhaku_Profarma</option>
					<option value="4Kinostudio_Porcelan">Kinostudio_Porcelan</option>
					<option value="4Spitali_Allias_Tufine">Spitali_Allias_Tufine</option>
					<option value="5Blloku">Blloku</option>
					<option value="5KomunaParisit_KristalCenter">KomunaParisit_KristalCenter</option>
					<option value="5Liqeni_Rr.Kosovareve_PetroNini">Liqeni_Rr.Kosovareve_PetroNini</option>
					<option value="5Liqenithate_KopshtiBotanik">Liqenithate_KopshtiBotanik</option>
					<option value="5StadiumiDinamo_SheshiWillson">StadiumiDinamo_SheshiWillson</option>
					<option value="5VasilShanto_BllokuVilaveSelite">VasilShanto_BllokuVilaveSelite</option>
					<option value="6Astir_Unazaere_TeodorKeko">Astir_Unazaere_TeodorKeko</option>
					<option value="6Kombinat_Vaqarr_Ndroq">Kombinat_Vaqarr_Ndroq</option>
					<option value="6PallatimeShigjeta_Delijorgji">PallatimeShigjeta_Delijorgji</option>
					<option value="6Yzberisht_MistoMame">Yzberisht_MistoMame</option>
					<option value="7BllokuAmbasadave_Inxh.Ndertimit">BllokuAmbasadave_Inxh.Ndertimit</option>
					<option value="7Ekspozita_GjykataRrethit">Ekspozita_GjykataRrethit</option>
					<option value="7FushaAviacionit">FushaAviacionit</option>
					<option value="7MyslymShyri_DrejtoriaPolicise">MyslymShyri_DrejtoriaPolicise</option>
					<option value="7Parku_Globe_FabrikaBukes">Parku_Globe_FabrikaBukes</option>
					<option value="7Rr.eKavajes_21Dhjetori">Rr.eKavajes_21Dhjetori</option>
					<option value="8ConcordCenter_5Maji">ConcordCenter_5Maji</option>
					<option value="8Medreseja_TreguIndustrial">Medreseja_TreguIndustrial</option>
					<option value="8Rr.Bardhyl_SiriKodra_RizaCerova">Rr.Bardhyl_SiriKodra_RizaCerova</option>
					<option value="8Selvia_Rr.eDibres_Gj.Partizani">Selvia_Rr.eDibres_Gj.Partizani</option>
					<option value="9DonBosko_JordanMisja">DonBosko_JordanMisja</option>
					<option value="9Rr.Fortuzi_MinePeza">Rr.Fortuzi_MinePeza</option>
					<option value="9StacioniTrenit_ZoguiZi">StacioniTrenit_ZoguiZi</option>
 				</select>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label>Machine Learning Algorithm</label>
			</div>

			<div class="col">
				<select ng-model="houseDto.algorithm" class="input-sm spacing">
				<!--   <option value="RANDOM_FOREST">RANDOM_FOREST</option> -->
					<option value="RANDOM_TREE">RANDOM_TREE</option>
					<option value="REP_TREE">REP_TREE</option>
				    <option value="IBK">IBK</option> 
				</select>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<label>Viti i PUBLIKIMIT</label>
			</div>

			<div class="col">
				<input type="number" ng-model="houseDto.buildingYear"
					class="input-sm spacing" value="2020" />
			</div>

		</div>
		<hr />

		<div class="row">
			<div class="col"></div>
			<div class="col">
				<button ng-click="savePredict()" class="btn btn-sm btn-info">Parashiko
					cmimin</button>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label>Cmimi i parashikuar</label>
			</div>

			<div class="col">

				{{ number =houseDto.price | number : 1}}<span>&euro;</span>
				<!--                 <input type="number" ng-model="number"  class="input-sm spacing" readonly/><span>&euro;</span> -->
			</div>

		</div>
		<div class="row">
			<div class="col">
				<label>Cmimi per meter katror</label>
			</div>

			<div class="col">


				{{ houseDto.price/houseDto.sizeMeters | number : 1}} <span>&euro;/&#13217;</span>
			</div>

		</div>


		<hr />
		

	</div>
 
</body>
<footer >
  <p>Author: Amir Buzo</p>
  <p><a href="mailto:amirbuzo@gmail.com">amirbuzo@gmail.com</a></p> 
   <p>Main Feeder of Data: Njoftime.com<a href="https://www.njoftime.com/">Visit Njoftime.com!</a></p>
  <p>Powered by: ikubINFO <a href="https://www.ikubinfo.al/">Visit ikubinfo.com!</a></p>

  
</footer>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/PredictController.js"></script>
<script src="js/app/PredictService.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="js/app/app.css" />

</html>